<div class="company-info">
    <p>Anthony R Fulginitti Jr., The President of Omega Corporation, has more
        than 30 years’ experience in general contracting and construction
        management industries.<br>Since 1987, we have purchased and rehabilitated <strong>over 100 properties</strong> in
        the Philadelphia area, as well as new construction of <strong>over 50 Design-built homes</strong>.</p>
</div>
<hr>
<div class="photo-gallery">
    <h2 (click)="toggleRenovations()">Renovations</h2>
    <div *ngIf="showRenovations">
        <hr>
        <div *ngFor="let project of renovation_photos">
            <h3>{{ project[0] }}</h3>
            <div class="photo" *ngFor="let photo of project.slice(1)">
                <a target="_blank" [href]="photo">
                    <img [src]="photo" alt="Omega Corp Project Photo">
                </a>
            </div>
        </div>
    </div>
<hr>
    <h2 (click)="toggleElectric()">Electric Work</h2>
    <div *ngIf="showElectric">
        <hr>
        <div *ngFor="let project of electric_photos">
            <h3>{{ project[0] }}</h3>
            <div class="photo" *ngFor="let photo of project.slice(1)">
                <a target="_blank" [href]="photo">
                    <img [src]="photo" alt="Omega Corp Project Photo">
                </a>
            </div>
        </div>
    </div>
<hr>
    <h2 (click)="toggleConcrete()">Concrete Work</h2>
    <div *ngIf="showConcrete">
        <hr>
        <div *ngFor="let project of concrete_photos">
            <h3>{{ project[0] }}</h3>
            <div class="photo" *ngFor="let photo of project.slice(1)">
                <a target="_blank" [href]="photo">
                    <img [src]="photo" alt="Omega Corp Project Photo">
                </a>
            </div>
        </div>
    </div>
    <hr>
</div>