/* .company-info {
    text-align: center;
    margin-bottom: 40px;
}

.company-info h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.company-info p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #666;
}

/* .photo-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.photo img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.photo img:hover {
    transform: scale(1.05);
}

.photo-gallery {
    display: block;
    width: 100%;
  }
  
  .photo-gallery h2 {
    margin-top: 40px;
    font-size: 2em;
    color: #333;
  }
  
  .photo-gallery h3 {
    margin-top: 20px;
    font-size: 1.5em;
    color: #666;
  }
   */

   .company-info {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .company-info h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .company-info p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #666;
  }
  
  .photo-gallery {
    display: block;
    width: 100%;
  }
  
  .photo-gallery h2 {
    margin-top: 40px;
    font-size: 2em;
    color: #333;
  }
  
  .photo-gallery h3 {
    margin-top: 20px;
    font-size: 1.5em;
    color: #666;
  }
  
  .photo {
    display: inline-block;
    margin: 10px;
  }
  
  .photo img {
    width: 150px; /* Thumbnail width */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .photo img:hover {
    transform: scale(1.05);
  }
  
  /* Modal styles */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }