<div class="company-info">
    <p>Omega Corp is a leading electrical contractor known for its exceptional work and customer satisfaction. We
        specialize in a wide range of electrical services, ensuring quality and safety in every project.</p>
</div>
<hr>
<div class="photo-gallery">
    <h2 (click)="toggleRenovations()">Renovations</h2>
    <div *ngIf="showRenovations">
        <hr>
        <div *ngFor="let project of renovation_photos">
            <h3>{{ project[0] }}</h3>
            <div class="photo" *ngFor="let photo of project.slice(1)">
                <a target="_blank" [href]="photo">
                    <img [src]="photo" alt="Omega Corp Project Photo">
                </a>
            </div>
        </div>
    </div>
<hr>
    <h2 (click)="toggleElectric()">Electric Work</h2>
    <div *ngIf="showElectric">
        <hr>
        <div *ngFor="let project of electric_photos">
            <h3>{{ project[0] }}</h3>
            <div class="photo" *ngFor="let photo of project.slice(1)">
                <a target="_blank" [href]="photo">
                    <img [src]="photo" alt="Omega Corp Project Photo">
                </a>
            </div>
        </div>
    </div>
<hr>
    <h2 (click)="toggleConcrete()">Concrete Work</h2>
    <div *ngIf="showConcrete">
        <hr>
        <div *ngFor="let project of concrete_photos">
            <h3>{{ project[0] }}</h3>
            <div class="photo" *ngFor="let photo of project.slice(1)">
                <a target="_blank" [href]="photo">
                    <img [src]="photo" alt="Omega Corp Project Photo">
                </a>
            </div>
        </div>
    </div>
    <hr>
</div>