<div class="contact-info">
    <h2>Contact Information</h2>
    <p>
        <strong>President: </strong>Anthony R. Fulginitti Jr.<br>
        <strong>PO Box: </strong>2803<br>
        <strong>Address: </strong> 
        <a href="https://www.google.com/maps?q=124+Levering+St,+Philadelphia+PA,+19127" target="_blank">
            124 Levering St, Philadelphia PA, 19127
        </a><br>
        <strong>Phone: </strong> <a href="tel:+16106676653">610-667-6653</a><br>
        <strong>Email: </strong> <a href="mailto:omegacorp2803@aol.com">omegacorp2803&#64;aol.com</a>
    </p>
</div>